


/*General Attributes*/
html {
    height: 700px;
    overflow: hidden;
}

body {
    overflow-x: hidden;
    height: 100%;
    background-color: rgb(24, 26, 27);
}

body, .btn, .splash-nav-item a {
    color:  #d9d5d0 !important;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0,0,0,0.55);
}




/* Splash */
.splash {
    position: absolute;
    text-align: center;
}

.spnav {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 20;
    height: 76px;
    background-color: rgb(0,0,0,0);
}

#siteLogo {
    display: none;
}

.splash.txt {
    background: rgb(0,0,0,0);
    font-family: 'Titillium Web', sans-serif;
    font-weight: 800;
    top: 15%;
    margin: auto auto;
    will-change: opacity;
    z-index: 10;
    width: 100%;
}

.splash.txt .title {
    opacity: 0%;
    animation: splashtxt 1.5s 0.5s ease-in forwards;
}

.splash.txt .subtitle {
    opacity: 0%;
    animation: splashtxt 2s 1.5s ease-in forwards;
    padding: 0 1.5em;
}


.splash.scroll {
    background: rgb(0,0,0,0);
    font-family: 'Titillium Web', sans-serif;
    position: absolute;
    width: 100%;
    top: 65vh;
    opacity: 0%;
    z-index: 20;
    padding: 0 1em;
    text-align: center;
    animation: splashtxt 0.5s 2.1s ease-in forwards, splashscroll 2s 2s ease-in-out forwards;
    will-change: transform, opacity;
}

.splash.scroll p {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}


.splash.img {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
    animation: splash 3s ease-in-out forwards;
    background-color: rgb(0,0,0);
    will-change: opacity;
    filter: blur(4px);
}

/*--Splash Animation--*/

@keyframes splash {
    from {
        opacity: 0;
    }

    to {
        opacity: 25%;
    }
}

@keyframes splashtxt {
    from {
        opacity: 0;
    }

    to {
        opacity: 100%;
    }
}

@keyframes splashscroll {
    0% {
        transform: translateY(2rem);
    }
    100% {

    }
}

/*Login/Signup forms*/
#formFloat {
    z-index: 25;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
}

main.blurred .splash {
    filter: blur(3px) brightness(0.2);
}

main.blurred .footer {
    display: none;
}

#loginForm, #signupForm, #resetForm {
    position: relative;
    top: 30%;
}

#formClose {
    position: relative;
    top: 29%;
    margin: 0;
    padding: 0;
    font-size: 2em;
    cursor: pointer;
    width: 2em;
}

#formMsg {
    position: relative;
    top: 50%;
}

#warnMsg {
    padding-top: 0.5em;
}

.footer {
    position: absolute;
    bottom: 0;
    z-index: 10;
    color: #d9d5d0 !important;
}





@media screen and (max-width: 620px) {
    .title {
        font-size: 7.5vmin;
    }

    .subtitle {
        font-size: 4.5vmin;
    }

    #loginForm, #signupForm, #resetForm {
        left: 12.5%;
        width: 75%;
    }

    #formClose {
        left: 8%;
    }
}

@media screen and (min-width: 620px) {
    .title {
        font-size: 2.75em;
    }

    .subtitle {
        font-size: 1.5em;
    }

    #loginForm, #signupForm, #resetForm {
        left: 22.5%;
        width: 55%;
    }

    #formClose {
        left: 20.5%;
    }
}

@media screen and (min-width: 992px) {
    .title {
        font-size: 4.5em;
    }

    .subtitle {
        font-size: 2em;
    }

    #loginForm, #signupForm, #resetForm {
        left: 35%;
        width: 30%;
    }

    #formClose {
        left: 33%;
    }
}

@media screen and (min-width: 1200px) {
    .subtitle {
        padding: 0 7em !important;
    }

}

@media screen and (min-width: 1345px) {
    .subtitle {
        padding: 0 23vw !important;
    }
}

@media screen and (min-width: 1550px) {
    .subtitle {
        padding: 0 0 !important;
    }
}

@media screen and (max-height: 750px) {
    .splash img {
        display: none;
    }

    #siteLogo {
        display: block;
    }

    .splash.scroll {
        top: 55%;
    }

    .splash.scroll p {
        font-size: 1.25rem !important;
    }

    .splash.scroll .btn {
        padding: 0.5rem 2rem !important;
        font-size: 1.15rem;
    }

    .title {
        font-size: 7.5vmin;
    }

    .subtitle {
        font-size: 4.5vmin;
    }
}

@media screen and (max-height: 450px) {
    .splash.scroll {
        top: 53%;
    }

    .splash.scroll p {
        font-size: 1rem !important;
    }

    .splash.scroll .btn {
        padding: 0.25rem 1.5rem !important;
        font-size: 1rem;
    }
}

@media screen and (min-height: 500px) {
    .splash img {
        height: 100px;
    }

}