
.no-height {
    max-height: 0;
    padding: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    overflow: hidden;
    will-change: max-height;
    transition: max-height 0.5s linear;
}

.full-height {
    max-height: 400px;
}