/*Main Content*/

.custom-form-row {
    padding: 0.25em 0;
}

.footer {
    text-align: center;
    width: 100%;
}


/*Bootstrap color overrides form dark mode*/
@media (prefers-color-scheme: dark) {
    .text-danger {
        color: #fa6776 !important;
    }

    .text-success {
        color: #63e181 !important;
    }

    .text-info {
        color: #39d2e9 !important;
    }

    .btn-outline-success {
        color: #c3bfbb !important;
    }
}