/*Main Content*/

.custom-form-row {
    padding: 0.25em 0;
}

.footer {
    text-align: center;
    width: 100%;
}

.btn-purple {
    color: #fff;
    background-color: #3c2d72;
}

.btn-purple:hover {
    background-color: #372a66;
}

.btn-outline-purple {
    color: #fff;
    border-color: #3c2d72;
    border-width: 2.5px;
}

.btn-outline-purple:hover {
    background-color: #3c2d72;
}

.navbar {
    font-family: 'Titillium Web', sans-serif !important;
}

/*Bootstrap color overrides form dark mode*/
@media (prefers-color-scheme: dark) {
    .text-danger {
        color: #fa6776 !important;
    }

    .text-success {
        color: #63e181 !important;
    }

    .text-info {
        color: #39d2e9 !important;
    }

    .btn-outline-success {
        color: #c3bfbb !important;
    }

    body, .btn, .splash-nav-item a {
        color:  #d9d5d0 !important;
    }
}

@media (prefers-color-scheme: dark) {
    @supports (-webkit-touch-callout: none) {
        select {
            color: black  !important;
        }
    }
}